* [pigalle.base.class](https://github.com/pigalle-io/pigalle.base.class) by [pigalle.io](https://github.com/pigalle-io/)
* [node-notimplemented-error](https://github.com/9fv/node-notimplemented-error) by [9fv.io](https://github.com/9fv/)
