```javascript

const {TransporterPluginBase} = require('@pigalle/plugins.transporter')

// My TCP transporter.
class MyTcpTransporter extends TransporterEntity {

  // Implements boot()
  boot() {
    // Start a TCP server...
  }
}

```
